.container{
display:grid;
grid: 85px 85px 85px/ 85px 85px 85px;
gap: 5px;
margin: 50px auto;

}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
}
.winner{
    background-color: red !important ;
}